<section>
  <div class="row text-left">
    <div class="col-12">
      <div class="card card-catalogo-factores">
        <div class="card-header">
          <h4 class="card-title color-blue-cat mb-0"><i class="fas fa-layer-group color-gray-cat"></i> Catálogo de factores de calidad</h4>
        </div>
        <hr class="mb-0">
        <div class="card-content">
          <div class="card-body">

            <!---Tabsets (Uso y Calidad)-->
            <ul class="nav nav-tabs nav-justified" role="tablist">              
              <li class="nav-item" role="presentation" *ngFor="let route of routes">
                <a class="nav-link" data-toggle="tab" [routerLink]="[route.url]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" role="tab" aria-selected="false">
                  <i class="{{route.icon}}"></i> {{route.title}}
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <!--Aquí se cargan las vistas que se seleccionen en los Tabs-->
              <router-outlet></router-outlet>
            </div>
            <!---End Tabsets (Uso y Calidad)-->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>