.card-catalogo-factores { box-shadow: 0px 5px 5px 5px #888888; }

//Estilos para los Tabs (Uso y Calidad)
.nav-link {
    color: #78797A;
    font-size: 16px;
}

.nav-link.active {
    color: #2054A1;
    font-size: 16px;
}
//End Estilos para los Tabs (Uso y Calidad)