.img-timeline {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

//Badges (Pill Badges)
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    font-size: 80%;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
    font-size: 80%;
}