//Estilos para los Tabs (Mensajes del Presidente y Notificaciones)
.nav-link {
    color: #78797A;
    font-size: 16px;
}

.nav-link.active {
    color: #2054A1;
    font-size: 16px;
}
//End Estilos para los Tabs (Mensajes del Presidente y Notificaciones)