<!--Input para filtrar datos-->
<mat-form-field class="pl-0 col-12 col-md-4 mt-n4">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<!---Tabla Días Curso-->
<table mat-table [dataSource]="dataSource" matSort class="w-100 table-hover table-responsive-md">
  <!--Columna Fecha-->
  <ng-container matColumnDef="fecha">
    <th class="bg-blue-cat text-white" mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let element">
      <a class="text-primary" (click)="openDialog(element.idCursoDia, element.fecha)">{{element.fecha | date: "d 'de' MMMM 'de' y"}}</a>      
    </td>
  </ng-container>

  <!--Columna Hora de inicio -->
  <ng-container matColumnDef="horaInicio">
    <th class="bg-blue-cat text-white" mat-header-cell *matHeaderCellDef mat-sort-header>Hora de inicio</th>
    <td mat-cell *matCellDef="let element">{{element.horaInicio}}</td>
  </ng-container>

  <!--Columna Hora de término -->
  <ng-container matColumnDef="horaFin">
    <th class="bg-blue-cat text-white" mat-header-cell *matHeaderCellDef mat-sort-header>Hora de término</th>
    <td mat-cell *matCellDef="let element">{{element.horaFin}}</td>
  </ng-container>

  <!--Columna Opciones -->
  <ng-container matColumnDef="opciones">
    <th class="bg-blue-cat text-white" mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button color="accent" matTooltipPosition="above" matTooltip="Editar" (click)="openDialog(element.idCursoDia, element.fecha)">
        <mat-icon>create</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!---End Tabla Días Curso-->

<!--Div a mostrar cuando estén cargando los datos-->
<div class="alert alert-light text-center" *ngIf="loading">
  <h4 class="alert-heading">Cargando</h4>
  <p class="d-flex justify-content-center"><mat-spinner diameter="50"></mat-spinner></p>
  <p class="mb-0">Espere por favor</p>
</div>

<!--Div a mostrar cuando no haya datos-->
<div class="alert alert-warning text-center" *ngIf="!loading && dataSource.data.length === 0">
  <p><mat-icon class="icon-material">info</mat-icon></p>
  <h4 class="alert-heading">No hay datos para mostrar</h4>
</div>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>