<section>
  <div class="row text-left">
    <div class="col-12">
      <div class="card card-shadow">
        <div class="card-header">
          <h4 class="card-title color-blue-cat mb-0"><i class="fas fa-money-check-alt color-gray-cat"></i> Pagos</h4>
        </div>
        <hr class="mb-0">
        <div class="card-content">
          <div class="card-body">
            
            <app-table-pagos></app-table-pagos>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>